<h2>Cadastro de usuario</h2>

criar o formulario para cadastrar usuario com login, nome, senha e um checkbox de ativo

<form action="" method="post">

    <div class="form-group">
        <label>nome</label>
        <imput name="Nome" typeof="text" class="form-control" />
    </div>

    <div class="form-group">
        <label>Senha</label>
        <imput name="senha" typeof="password" class="form-control" />
    </div>

    <div class="form-group">
        <label>login</label>
        <imput name="login" type="text" class="form-control"></imput>
    </div>

    </div><ul class="dropdown-menu" aria-labelledby="navbarDropdown">

        <li><a class="dropdown-item" href="#">cliente</a></li>
        <li><a class="dropdown-item" href="#">produto</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">usuario</a></li>

    </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            cadastro

    <div class="form-check">
        <label>usuario activado ?</label>
        <imput typeof="checkbox" name="ativo" checked=""
    </div>
    <button class="btn btn-sucess" type="submit">
        salvar dados
    </button>
    </form>



    


