@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped">
    <thread>
      <TR>
          <th>Codigo</th>
          <th>Nome</th>
          <th>telefone</th>
    </TR>
  </thread>
  <tbody>
      <tr>
           <td>1</td>
           <td>Fernando</td>
           <td>(16) 99134-8447 </td>
    </tr>
    <tr>
        <td>2</td>
        <td>contatinho</td>
        <td>(16) 99134-9999</td>
    </tr>
    <tbody>
  </table>

    
   
